#nav-bar
{
    background-color: blueviolet;
    color: white;
    position: sticky;
    top:0px;

}
ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
a:link
{
    color: white;
    text-decoration: none;
}