body{
    background-color: rgb(101, 8, 55);
}
#nav-bar
{
    background-color: rgb(101, 8, 55);
    position: sticky;
    top:0px;
    align-items: center;
    padding: 20px;

}
ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
a
{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border-right: 1px solid grey;
padding-right: 2rem;
}
a:link
{
    text-decoration: none;
}
a:hover
{
    color: rgb(241, 220, 238);
    background:  rgb(179, 90, 135);
    padding:10px;
    border-radius: 20px;
    border-color: white;
    border-style: double;
    border-width: 2px;
}
#nav-bar img{
    width:30px;
}

